* {
  font-family: "Amiri", serif;
  font-family: "Cairo", sans-serif !important;
}

:root {
  --primary-bg: #e2ddd9;
  --primary-text: #00008b;
  --accent-color: #d4af37;
  /*buttons*/
  --secondary-bg: #f7f7f7;
  --third-bg: #342f73;
  --places-bg: #14104e;
  --secondary-text: #ffffff;
  --chat-bubble-person1: #d4af37;
  --chat-bubble-person2: #d4d5d6;
  --placeholder-color: #8b0000;
  --border-color: #ddd;
  --white-color: #ffffff;
}

.dark-theme {
  --primary-bg: #1e1e1e;
  --primary-text: #f5f5f5;
  --accent-color: #ff7e67;
}

header {
  background-color: var(--third-bg);
  color: var(--white-color);
}

p {
  color: var(--white-color);
}

body {
  position: relative;
  background-color: var(--places-bg);
  font-size: 1rem !important;
}


/* Media queries for tablets */
@media (max-width: 768px) {

  .characters-page-content h1 {
    font-size: 4.5vw;
  }

  .characters-page-content h2 {
    font-size: 3.8vw;
  }

  .characters-page-content h3 {
    font-size: 3.3vw;
  }

  .characters-page-content h4 {
    font-size: 2.8vw;
  }

  .characters-page-content h5 {
    font-size: 2.3vw;
  }

  .characters-page-content h6 {
    font-size: 2vw;
  }

  .characters-page-content p {
    font-size: 1.8vw;
  }
}

/* Media queries for mobile devices */
@media (max-width: 480px) {
  .characters-page-content h1 {
    font-size: 6vw;
  }

  .characters-page-content h2 {
    font-size: 5vw;
  }

  .characters-page-content h3 {
    font-size: 4.2vw;
  }

  .characters-page-content h4 {
    font-size: 3.5vw;
  }

  .characters-page-content h5 {
    font-size: 3vw;
  }

  .characters-page-content h6 {
    font-size: 2.5vw;
  }

  .characters-page-content p {
    font-size: 2.2vw;
  }
}

/* text */



.title-for-character {
  width: 100%;
  background-color: var(--places-bg);
  color: var(--white-color);
  font-weight: bold;
}

.title-for-landing-places h1 {
  font-size: 3.5rem !important;
}

.islamic {
  position: relative;
}

.introduction-for-Character p {
  color: var(--white-color);
  font-size: 20px;
  line-height: 3rem;
  font-family: "Cairo", sans-serif !important;
}

.introduction-for-Character img {
  position: absolute;
  left: 0;
}

#character-image {
  max-width: 100%;
  max-height: 350px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  filter: drop-shadow(-15px 13px 8px rgba(0, 0, 0, 0.3));

}

.intro-characters-imgs .ch-intro-img-bg {
  width: 100px;
  height: 100px;
  background: url("../images/شخصيات تاريخية/intro/sadat.png");
}

.card {
  margin-bottom: 10px;
  border: solid 1px var(--border-color);
}

.ch-img {
  position: relative;
  min-height: 250px;
}

.ch-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  left: 0;
}

.profile {
  position: relative;
  overflow: hidden;
  border: solid 0.5px var(--border-color);
  height: 100%;
  border-radius: 20PX;
  box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

.profile .ch-img {
  height: 100%;
}

.profile .ch-img img {
  height: 100%;
  width: 100%;
  transition: 1s;
}

.profile .caption {
  text-align: center;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  top: calc(100% - 74px);
  transition: all 1s;

}

.profile:hover .caption {
  top: calc(100% - 110px);
}

.profile:hover img {
  scale: 1.1;
}


.info {
  height: 75px;
  overflow: hidden;
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  color: var(--white-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.talkTo {
  height: 35px;
  /* border-top: solid 1px var(--border-color); */
  /* border-bottom: solid 1px var(--border-color); */
  padding: 5px;
  color: var(--accent-color);
  background: var(--third-bg);
}

.talkTo a {
  padding: 5px 0px;
  color: var(--accent-color);
  font-weight: bold;
}