<footer class="pt-4" style="background-color: var(--third-bg); color: #fff;">
    <div class="top-section-icon text-center mb-4" style="background: var(--third-bg);">
      <a href="#my-nav" class="mt-0 p-0">
        <img src="../../assets/images/icons/egypt.png" style="width: 50px;" class="img-fluid" alt="Egypt Icon">
      </a>
    </div>

    <div class="container-fluid py-4 ">
      <div class="row text-center  flex-row-reverse justify-content-evenly">

        <!-- Ministry sponsorship section -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-4 mb-0 mb-md-0">
          <h4 class="fw-bold" style="color: var(--accent-color);">بدعم</h4>
          <div style="max-width: 300px; margin: auto;">
            <img src="../../assets/images/ministry.07014a6d3e53.png" class="img-fluid" width="100%" alt="Ministry Sponsor">
          </div>
        </div>

        <!-- ITI and support section -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-4 mb-md-0">
          <h4 class="fw-bold" style="color: var(--accent-color);">برعاية</h4>
          <div style="max-width: 300px; margin: auto;">
            <img src="../../assets/images/TECH-EGYPT-LOGO.76ec2dd04cd0.png" class="img-fluid" width="100%" alt="ITI Support">
          </div>
        </div>

        <!-- Website Title and Links -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12  d-flex justify-content-center flex-column"
          style="width: fit-content;">
          <div class="logo d-flex align-items-center justify-content-center" style="width: fit-content;">
            <p class="plogo m-0 p-0" style="color: #fcc900; font-weight: bold; ">عبر</p>
            <img src="../../assets/images/icons/egypt.png" class="img-fluid" alt="">
            <p class="plogo  m-0 p-0" style="color: #fcc900; font-weight: bold; ">الزمن</p>
          </div>
          <nav>
            <ul class="list-unstyled ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../src/home/index.html">
                  <p>الصفحة الرئيسية</p>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="../Characters/Characters.html">
                  <p>شخصيات عبر الزمن</p>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="../place/places.html">
                  <p>اماكن</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="copy border-top text-center " style="border-color: #444;">
      <p class="mb-0" style="color: #fff;">جميع الحقوق محفوظة &copy; ٢٠٢٤</p>
      <span class="lineHead"></span>
    </div>
  </footer>