<nav id="my-nav"  class="navbar navbar-expand-sm border-bottom border-body p-0" data-bs-theme="dark">
    <div class="container-fluid px-0">
      <a class="navbar-brand" href="../../src/home/index.html">
        <div class="logo d-flex align-items-center">
          <p class="plogo m-0 p-0" style="color: #fcc900; font-weight: bold; ">عبر</p>
          <img src="../../assets/images/icons/egypt.png" style="width: 40px;" class="img-fluid" alt="">
          <p class="plogo  m-0 p-0" style="color: #fcc900; font-weight: bold; ">الزمن</p>
        </div>
      </a>
      <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto w-100 d-flex  ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../src/home/index.html">
              <p>الصفحة الرئيسية</p>
            </a>
          </li>
          <!-- <li class="nav-item  dropdown d-flex align-items-center justify-content-center flex-column">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              شخصيات عبر الزمن
            </a>
            <ul class="dropdown-menu justify-content-center ">
              <li><a class="dropdown-item " href="chat.html">فرعونى</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item " href="chat.html">اسلامى</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item " href="chat.html">حديث</a></li>
            </ul>
          </li> -->
          <li class="nav-item ">
            <a class="nav-link active" href="../Characters/Characters.html">
              <p>شخصيات عبر الزمن</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="../place/places.html">
              <p>اماكن</p>
            </a>
          </li>
        </ul>
        <div class="wrapper ps-2 d-flex justify-content-center">
          <img src="../../assets/images/icons/pyramids.png" style="width: 40px;" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </nav>

  